<a href="https://colab.research.google.com/github/Nyamtulla/Search-Engine/blob/main/IRPv1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [121]:
import numpy as np
import pandas as pd

In [122]:

file = open("/content/drive/MyDrive/Information Retrieval/IR.txt",'r')
data = file.read()
data = data[1:].split('.')
data = [i.strip() for i in data]
print(len(data))
print(data[3])
l = []
for i in data:
  if len(i)>0:
    splitted = i.split(' ')
    for j in splitted:
      l.append(j)

s = set(l)
t = list(s)
print(len(t))
df = pd.DataFrame(np.array([np.array([0]*len(s))]*(len(data)+2)),columns=s)
df

7
Automated information retrieval systems are used to reduce what has been called information overload
73

,to,is,Web,science,images,collection,those,(IR),a,"texts,",...,applications,most,the,what,for,that,in,systems,sounds,reduce
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [123]:
for w in t:
  for d in range(len(data)):
    df.loc[d,w] = data[d].count(w)
    # print(df[t][d])
  docf= len(data)-list(df[w]).count(0)+2
  df.loc[len(data),w] = docf
  idf = np.log(len(data)/docf)
  df.loc[len(data)+1,w] = idf
df

,to,is,Web,science,images,collection,those,(IR),a,"texts,",...,applications,most,the,what,for,that,in,systems,sounds,reduce
0,1.000000,1.000000,0.00000,0.00000,0.00000,1.00000,1.000000,1.00000,10.000000,0.00000,...,0.00000,0.00000,1.000000,0.00000,3.000000,1.000000,4.000000,0.00000,0.00000,0.00000
1,0.000000,0.000000,0.00000,0.00000,0.00000,0.00000,0.000000,0.00000,4.000000,0.00000,...,0.00000,0.00000,1.000000,0.00000,0.000000,0.000000,2.000000,0.00000,0.00000,0.00000
2,0.000000,1.000000,0.00000,1.00000,1.00000,0.00000,0.000000,0.00000,20.000000,1.00000,...,0.00000,0.00000,3.000000,0.00000,6.000000,1.000000,5.000000,0.00000,1.00000,0.00000
3,2.000000,0.000000,0.00000,0.00000,0.00000,0.00000,0.000000,0.00000,9.000000,0.00000,...,0.00000,0.00000,0.000000,1.00000,2.000000,0.000000,2.000000,1.00000,0.00000,1.00000
4,2.000000,1.000000,0.00000,0.00000,0.00000,0.00000,1.000000,0.00000,11.000000,0.00000,...,0.00000,0.00000,1.000000,0.00000,1.000000,1.000000,0.000000,0.00000,0.00000,0.00000
5,0.000000,1.000000,1.00000,0.00000,0.00000,0.00000,0.000000,0.00000,4.000000,0.00000,...,1.00000,1.00000,1.000000,0.00000,0.000000,0.000000,1.000000,0.00000,0.00000,0.00000
6,0.000000,0.000000,0.00000,0.00000,0.00000,0.00000,0.000000,0.00000,0.000000,0.00000,...,0.00000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000,0.00000,0.00000
7,3.000000,4.000000,1.00000,1.00000,1.00000,1.00000,2.000000,1.00000,6.000000,1.00000,...,1.00000,1.00000,5.000000,1.00000,4.000000,3.000000,5.000000,1.00000,1.00000,1.00000
8,0.847298,0.559616,1.94591,1.94591,1.94591,1.94591,1.252763,1.94591,0.154151,1.94591,...,1.94591,1.94591,0.336472,1.94591,0.559616,0.847298,0.336472,1.94591,1.94591,1.94591

In [124]:
for i in range(len(data)):
  df.iloc[i] = df.iloc[i]*df.iloc[8]
  df.iloc[i]= df.iloc[i]/np.sqrt(sum(df.iloc[i]**2))
df

,to,is,Web,science,images,collection,those,(IR),a,"texts,",...,applications,most,the,what,for,that,in,systems,sounds,reduce
0,0.105483,0.069669,0.000000,0.00000,0.00000,0.242254,0.155961,0.242254,0.191908,0.00000,...,0.000000,0.000000,0.041889,0.000000,0.209006,0.105483,0.167555,0.000000,0.00000,0.000000
1,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.100245,0.00000,...,0.000000,0.000000,0.054703,0.000000,0.000000,0.000000,0.109405,0.000000,0.00000,0.000000
2,0.000000,0.047986,0.000000,0.16686,0.16686,0.000000,0.000000,0.000000,0.264365,0.16686,...,0.000000,0.000000,0.086556,0.000000,0.287919,0.072655,0.144261,0.000000,0.16686,0.000000
3,0.248594,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.203523,0.00000,...,0.000000,0.000000,0.000000,0.285462,0.164189,0.000000,0.098720,0.285462,0.00000,0.285462
4,0.204480,0.067527,0.000000,0.00000,0.00000,0.000000,0.151166,0.000000,0.204608,0.00000,...,0.000000,0.000000,0.040601,0.000000,0.067527,0.102240,0.000000,0.000000,0.00000,0.000000
5,0.000000,0.115864,0.402884,0.00000,0.00000,0.000000,0.000000,0.000000,0.127662,0.00000,...,0.402884,0.402884,0.069664,0.000000,0.000000,0.000000,0.069664,0.000000,0.00000,0.000000
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,3.000000,4.000000,1.000000,1.00000,1.00000,1.000000,2.000000,1.000000,6.000000,1.00000,...,1.000000,1.000000,5.000000,1.000000,4.000000,3.000000,5.000000,1.000000,1.00000,1.000000
8,0.847298,0.559616,1.945910,1.94591,1.94591,1.945910,1.252763,1.945910,0.154151,1.94591,...,1.945910,1.945910,0.336472,1.945910,0.559616,0.847298,0.336472,1.945910,1.94591,1.945910

In [125]:
q= "obtaining information system that is relevant"
q=q.split(' ')
dfq = pd.DataFrame(np.array([np.array([0]*len(t))]),columns=s)
dfq
for w in q:
  dfq.loc[0,w] = q.count(w)
dfq.iloc[0] = df.iloc[8]*dfq.iloc[0]
dfq.iloc[0]= dfq.iloc[0]/np.sqrt(sum(dfq.iloc[0]**2))
dfq

,to,is,Web,science,images,collection,those,(IR),a,"texts,",...,applications,most,the,what,for,that,in,systems,sounds,reduce
0,0,0.176613,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0.267404,0,0,0,0

Cosine similarity

In [126]:
result = []
for i in range(len(data)-1):
  s = np.dot(df.iloc[i],dfq.iloc[0])
  result.append(s)
print(result)
print(max(result))
print(data[result.index(max(result))])

[0.4226782044772362, 0.0, 0.04733148636898724, 0.0997128135610207, 0.09394432579667743, 0.02046302049248992]
0.4226782044772362
Information retrieval (IR) is the process of obtaining information system resources that are relevant to an information need from a collection of those resources